 <div class= "title">
        Organiztion Explrer
        </div>
      <div class= "third">
        You can organize your tasks by using this app that helps you organize your tasks.
      </div>
     <span class="image">
       <img src="https://1.bp.blogspot.com/-XsxwK_qtWB4/WMYErlHZrBI/AAAAAAAAEH4/9dV6qdlXWfMxxDpdJYkitQGFwQMs8LZJwCLcB/s1600/homework.png"
         height="200px"
         width= "200px">
     </span>
     <span class= "tasks">
       <img src="http://vignette2.wikia.nocookie.net/clubpenguin/images/2/22/Puffle_Tasks_Icon.png/revision/latest?cb=20130322073714" alt= "tasks"
       height="200px"
       width="200px">
     </span>
     <div class= "calender">
         <img src="http://4.bp.blogspot.com/-Y9H0bKwreSo/VXfG6OOVNUI/AAAAAAAAQ_4/ZDhHwuB8W5c/s1600/monthly%2Bcalendar%2Bpreview%2Bstripes_700.png" alt= "calender for reminders"
         height= "400px"
         width= "500px>"
     </div>
     
     
        <ol id = "list">
            <li>
                <input type= "checkbox">
                <input type="text" placeholder= "task">
            </li>
            <li>
                <input type= "checkbox">
                <input type="text" placeholder= "task">
            </li>
            <li>
                <input type= "checkbox">
                <input type="text" placeholder= "task">
            </li>
            <li>
                <input type="checkbox">
                <input type="text" placeholder= "task">
            </li>
        </ol>
           <div>
                <input id="add-new-todo-button" type= "submit" value= "add task">
           </div>
